*{
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(41, 33, 33);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: rgba(31, 8, 8, 0.753);
  padding: 15px 28px 20px 18px;
  border-radius: 5px;
}

main h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin-bottom: 20px;
}   

main input {
  padding: 7px;
  border-radius: 4px;
  border: none;
  margin: 5px 10px 20px 0px;
  font-size: 17px;
}

main button {
    background-color: green;
    border: none;
    padding: 7px;
    font-size: 17px;
    border-radius: 4px;
    color: white;
}

main section {
   font-size: 20px;
}

main section p {
  background-color: rgb(41, 33, 33);
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
  min-height: 20px;
}